body, html {
    height: 100%;
    overflow: hidden; 
    font-family: Arial
}

/* Images */
.banner { 
    /*outline: 2px solid blue; */
    width: 60%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10%; 
}
.banner img {
    z-index: -1; 
    display: block; 
    max-width: 100%;
    max-height: 100%;
}

.me { 
    /*outline: 2px solid red;     */
    width: 13%;     
    left: 50%; 
    position: absolute; 
    margin-left: -25%; 
    margin-top: -6%;
}

.me img {
    max-width: 100%; 
    max-height: auto; 
}

/* Text */
.text { 
    /*outline: 2px solid green;     */
    margin-top: 1%;    
    margin-left: auto; 
    margin-right: auto; 
    width: 60%; 
}

.text .blurb {
    /*outline: 2px solid blue;             */
    margin-left: 35%; 
    width: 50%;
    font-size: 2vw;  
}

.text .links { 
    /*outline: 2px solid red;                 */
    margin-left: 35%; 
    width: 50%; 
    font-size: 1.5vw;  
}

.footer {
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    font-size: 10pt; 
}

/* Links */
a { 
    color: black; 
    text-decoration: none; 

    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;   
}

a:visited { 
    color: black; 
}

a:hover {
    opacity: 0.5; 
}


#im_banner { 
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bg.jpg);*/
  /*background-image: url(images/bg.jpg);  */

  /* Set a specific height */
  /*height: 50%;*/

  /* Position and center the image to scale nicely on all screens */
/*  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/
}
}